* { margin: 0; padding: 0; }

div#general{
    margin: auto;
    width:100%;
    height:630px;
    background-color:;    
}
div#logo{
    width:15%;
    height:140px;
    background-color:;
    float: left
}
div#titulo{
    width:85%;
    height:90px;
    background-color:;
    float: right
}
div#texto{
    width:50%;
    height:600px;
    background-color:;
}
div#registro{
     width:50%;
    height:200px;
    background-color:;
    float:right
}
div#reve{
    width:100%;
    height:30px;
    background-color:;
    
}
h1{
    font-family:cursive
    color:black
        
}
h2{
    color:black
}
h4{
    color:black
}
form {
  página */
    margin: 0 auto;
    width: 400px;
   background-color: palegoldenrod;
    padding: 1em;
    border: 7px solid #CCC;
    border-radius: 1em;
    width: 400px
        color:blue
        width: 300px;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
div#inicio{
    float: left
}